
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    min-height:100%;
    background-image:url('./backgroundsheriayn.png') ;
}
nav{
    padding: 0 4vw;   
    height: 10vh;
    display:flex;
    align-items:center;
}
.left{
    display:flex;
    align-items: center;
    padding-left: 2vw;
   
}
.logo .image img{
    width:3vw;
    height:5vh;
    margin:0;
    display:block;
   

}
.image{
    display:flex;
    align-items:center;
    margin:0;
    padding:0;
}
.logo{
    display:flex;
    align-items: center;
    gap:0;
}
.line{
 width:1px;
height:30px;
background-color: aliceblue;
margin: 0 10px;
left:6vw;
 
}

.left  h4{
    font-family: Arial, Helvetica, sans-serif;
    color:whitesmoke;
    font-size: 17px;
    font-weight: 100;
    
 
}
.center{
    /* padding:20px  35px; */
    width:46vw;
    height:6vh;
    background-color:transparent;
    display: flex;
    align-items: center;
    margin-left: 15vw;
    border: 2px solid transparent;
    border-radius: 10px;
      gap:1vw;
      padding:0 12px;
     box-shadow: 0 0 10px red;;
      opacity:0.8;

}
li{
    overflow: hidden;
    position: relative;
   
    height:25px;
    width:18vw;
    
    list-style:none; 
  
}
span {
position:absolute;
color:white;
transition: 0.5s;
white-space:nowrap;
}

/* .bottom{
    transform:translateY(100%);
} */

.top{
    top:0;
}

.bottom{
    top:100%;
}
li:hover .top{
    transform:translateY(-100%);

}
li:hover .bottom{
    transform:translateY(-100%);
    color:orange;
}
.profileIcon img{
width:3vw;
height:5vh;
border-radius: 30px;
gap:4vw;
display:block;
}
.right{
    margin-left:auto;
    display:flex;
    align-items:center;
}
.ri-arrow-drop-down-line{
    color:white;
    font-size: 26px;
    font-weight: 100;
}

